@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* CSS Document */		
body { margin: 0; padding: 0;}
#map { position:fixed; top:0; bottom:0; width:100%; height:100%}
.leaflet-control{right:100%;}
#info {
        font-family: Sans-Serif;
        display:block;
        position: relative;
        color: #FFF;
        background: #566272;
        padding: 10px 25px 25px;
        width: 20%;
        overflow:hidden;
    
}


.ui-button {
  background:#566272;
  color:#FFF;
  display:block;
  width:160px;
  z-index:100;
  text-align:center;
  padding:10px;
  border-radius:3px;
  }
  .ui-button:hover {
    background:#3074a4;
    color:#fff;
    }
@media (min-width:801px){
#info {
top:18px;
left:20px;
}
}

@media (max-width:800px) {   
#map{height:50%;
}  
#info {
    text-shadow:none;
    top:50%;
    bottom:0px;  
	position: absolute;
    padding: 0px;
    width: 100%;
    background: #566272;
    overflow:scroll;
    
    }
.leaflet-control{display:none;}
#infobox{

    }    
    
}